/* Basic Style */
.wrapper {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.visually-hidden:not(:focus):not(active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.header__info {
  width: 500px;
  margin: 0 auto;
}

.info {
  display: block;
  text-align: right;
}

.info__img {
  width: 100%;
}

.info__link {
  font-family: fantasy, cursive;
  outline: none;
}

@media (max-width: 768px) {
  .info {
    text-align: center;
  }
}

.section__form {
  width: 500px;
  margin: 0 auto;
}

.form {
  display: block;
}

.form__row {
  display: flex;
  margin-top: 20px;
}

.form__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.btn {
  background: none;
  border: 0;
  color: #888;
  font-size: 15px;
  font-family: Lato, sans-serif;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  color: #3a3a3a;
}

.btn_sm {
  width: 60px;
}

/* Heading */
.title {
  font-weight: 700;
  font-size: 15px;
  margin: 0;
}

.form__title {
  position: relative;
  width: 100%;
  padding: 30px 0 10px;
  border-bottom: 2px solid #333;
  text-transform: uppercase;
  color: #333;
}

.form__input {
  flex-grow: 1;
  width: 226px;
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
  outline: none;
}

.form__input:focus {
  color: #333;
}

/* New Task */
.form__input_wide {
  width: 318px;
}

/* Task list */
.form__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__checkbox {
  margin: 0 10px;
  outline: none;
}

.form__label {
  flex-grow: 1;
  width: 56%;
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
}

.form__label-hidden {
  position: absolute;
  left: 0;
  width: 100%;
  height: 18px;
  padding-left: 0;
}

.btn-svg {
  background: none;
  border: 0px;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
  outline: none;
}

.btn-svg__img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.btn-svg__img:hover {
  transform: rotateZ(0);
}

/* Completed */
.form__list_complete .form__label {
  text-decoration: line-through #888;
}

/* Edit Task */
.form__input_transparent {
  display: none;
}

.edit-mode .form__input_transparent {
  display: inline-block;
  width: 224px
}

.edit-mode .form__label {
  display: none;
}
